header {
    background-color: #2A2A2A;
    padding: 16px 160px;
  }
nav {
  display: inline-block;
  vertical-align: top;
  float: right;
  padding-top: 16px;
}
nav a {
  text-transform: uppercase;
  font-weight: bold;
  color: #d4d4d4;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 13px;
}
nav a#blueBox {
  background-color: #107698;
  color: white;
}

nav a#orangehighlight {
color: orange
}
h1 {
  font-weight: 300;
  background-image: url(https://www.optimal-partners.com/site_images/ourServicesHeader.jpg);
  background-position: center;
  color: #ffff;
  font-size: 50px;
text-shadow: 1px 2px 2px #000;
text-align: center;
padding: 70px 0;
width: 100;
}
