header {
    background-color: #2A2A2A;
    padding: 16px 160px;
  }
nav {
  display: inline-block;
  vertical-align: top;
  float: right;
  padding-top: 16px;
}
nav a {
  text-transform: uppercase;
  font-weight: bold;
  color: #d4d4d4;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 13px;
}
nav a#blueBox {
  background-color: #107698;
  color: white;
}

nav a#orangehighlight {
color: orange
}
h1 {
  font-weight: 300;
  background-image: url( https://www.optimal-partners.com/site_images/ourServicesHeader.jpg);
background-position: center;
color: #ffff;
font-size: 50px;
text-shadow: 1px 2px 2px #000;
text-align: center;
padding: 70px 0;
width: 100;
}
.weserve p span {
  color: #ffa500;
}
/* common styling of the content */


.weserve{
  padding: 50px 0px 70px;
}

.weserve div {
  max-width: 1150px;
  margin: auto;
  }

  /* common h2 styling */

.variety h2 {
  font-size: 44px;
  color: #0a465b;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 10px;
  }

div > p {
 color: #7f969e;
 font-size: 16px;
 text-align: center;
 max-width: 856;
 margin: auto;
 padding: 10px 0px;
 line-height: 1.4;
 height: 100%;
}

/* greybackground */
.varietyservice {
  background-color: #edeff3;
  }

  /* box styling */

.varietyservicebox h3 {
  font-size: 24px;
  box-sizing: border-box;
  background-color: #107698;
  display: flex;
    justify-content: center;
    align-items: center;
  color: #ffff;
  text-align: center;
  min-height: 110px;
  font-variant: small-caps;
  margin: 0px 10px;
}

.varietyservicebox .box1 p{
  font-size: 16px;
box-sizing: border-box;
padding: 20px 25px 20px 25px;
background-color: #ffff;
color: #7f969e;
line-height: 1.4;
border-top: 5px solid #d1d0ce;
margin: 0px 10px;
box-shadow: 0px 2px 4px 0px rgb(0 0 0/25%);
min-height: 110px
}

. 1sthead {
  display: flex;
flex-flow: row;
justify-content: space-around;
}





















  /* felxibiity centerpara styling */

  .centerpara1 {
    font-family: BrandonText-Bold;
    font-size: 22px;
    color: #0a465b
    border-bottom: 2px #FDB530 solid;
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    max-width: 350px;
    text-align: center;
    float: left;
    margin-top: 30px;
    margin-right: 50px;
}

.




/* box2styling */

.box2 h3 {
  font-size: 24px;
    box-sizing: border-box;
    background-color: #107698;
    display: flex;
      justify-content: center;
      align-items: center;
    color: #ffff;
    text-align: center;
    min-height: 110px;
    font-variant: small-caps;
    margin: 0px 10px;
    margin-block-start: 0.83em;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.Specializationsbox .box2 p {
  font-size: 16px;
box-sizing: border-box;
padding: 20px 25px 20px 25px;
background-color: #ffff;
color: #7f969e;
line-height: 1.4;
border-top: 5px solid #d1d0ce;
margin: 0px 10px;
box-shadow: 0px 2px 4px 0px rgb(0 0 0/25%);
min-height: 110px;
}

#specializations{
  display: flex;
flex-flow: row;
justify-content: space-around;
}
